In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("cast.csv")
df.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
titles = pd.read_csv("titles.csv")
titles.head()

                      title  year
0           Ankara ekspresi  1952
1  Ans Vaterland, ans teure  1915
2               Miss Mohini  2002
3             La vera madre  1999
4              O Amerikanos  1993

In [5]:
len(titles)

226013

In [6]:
len(df)

3442902

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3442902 entries, 0 to 3442901
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 157.6+ MB